<div uk-grid>
  <div class="uk-width-1-3@m">
    <div class="uk-button-group">
      <div
        class="uk-button uk-button-primary uk-button-small"
        mwlCalendarPreviousView
        [view]="view"
        [(viewDate)]="viewDate"
        (viewDateChange)="closeOpenMonthViewDay()"
      >
        Previous
      </div>
      <div
        class="uk-button uk-button-secondary uk-button-small"
        mwlCalendarToday
        [(viewDate)]="viewDate"
      >
        Today
      </div>
      <div
        class="uk-button uk-button-primary uk-button-small"
        mwlCalendarNextView
        [view]="view"
        [(viewDate)]="viewDate"
        (viewDateChange)="closeOpenMonthViewDay()"
      >
        Next
      </div>
    </div>
  </div>
  <div class="uk-width-1-3@m">
    <h3>{{ viewDate | calendarDate: view + "ViewTitle":"en" }}</h3>
  </div>
  <div class="uk-width-1-3@m">
    <div class="btn-group">
      <div
        class="uk-button uk-button-primary uk-button-small"
        (click)="setView(CalendarView.Month)"
        [class.active]="view === CalendarView.Month"
      >
        Month
      </div>
      <div
        class="uk-button uk-button-primary uk-button-small"
        (click)="setView(CalendarView.Week)"
        [class.active]="view === CalendarView.Week"
      >
        Week
      </div>
      <div
        class="uk-button uk-button-primary uk-button-small"
        (click)="setView(CalendarView.Day)"
        [class.active]="view === CalendarView.Day"
      >
        Day
      </div>
    </div>
  </div>
</div>
<br />

<div [ngSwitch]="view">
  <mwl-calendar-month-view
    *ngSwitchCase="CalendarView.Month"
    [viewDate]="viewDate"
    [events]="events"
    [refresh]="refresh"
    [activeDayIsOpen]="activeDayIsOpen"
    (dayClicked)="dayClicked($event.day)"
    (eventClicked)="handleEvent('Clicked', $event.event)"
    (eventTimesChanged)="eventTimesChanged($event)"
  >
  </mwl-calendar-month-view>
  <mwl-calendar-week-view
    *ngSwitchCase="CalendarView.Week"
    [viewDate]="viewDate"
    [events]="events"
    [refresh]="refresh"
    (eventClicked)="handleEvent('Clicked', $event.event)"
    (eventTimesChanged)="eventTimesChanged($event)"
  >
  </mwl-calendar-week-view>
  <mwl-calendar-day-view
    *ngSwitchCase="CalendarView.Day"
    [viewDate]="viewDate"
    [events]="events"
    [refresh]="refresh"
    (eventClicked)="handleEvent('Clicked', $event.event)"
    (eventTimesChanged)="eventTimesChanged($event)"
  >
  </mwl-calendar-day-view>
</div>

<!--  -->

<br /><br /><br />

<div class="uk-card-secondary">
  <br />
  <p class="uk-text" *ngFor="let event of events; first as isFirst">
    <span *ngIf="isFirst" class="uk-text"
      >Your Next Event >>
      <span class="uk-text-primary">{{ event.title }} </span> starts at
      {{ event.start }}
    </span>
  </p>
  <br />
</div>

<br /><br /><br />

<div uk-grid>
  <div style="float: left;">
    <h3 class="uk-text-bold">
      Edit events

      <div class="clearfix"></div>
    </h3>
  </div>

  <div class="add-new">
    <button
      class="uk-button uk-button-primary pull-right"
      uk-toggle="target: #modal-add-event"
    >
      Add new
    </button>
  </div>
</div>

<!-- Add Event Modal -->
<div id="modal-add-event" uk-modal>
  <div class="uk-modal-dialog uk-modal-body">
    <button class="uk-modal-close-default" type="button" uk-close></button>
    <h2 class="uk-modal-title">Add New Event</h2>

    <form [formGroup]="eventForm">
      <fieldset class="uk-fieldset">
        <div class="uk-margin">
          <input
            name="eventTitle"
            id="txtEventTitle"
            class="uk-input"
            type="text"
            placeholder="Event Title"
            formControllerName="eventTitle"
            [formControl]="eventTitle"
          />

          <div
            class="uk-alert-danger"
            uk-alert
            *ngIf="eventTitle.touched && !eventTitle.valid"
          >
            <a class="uk-alert-close" uk-close></a>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
              eiusmod tempor incididunt.
            </p>
          </div>
        </div>

        <div class="uk-margin">
          <label for="txtStartDate" class="uk-text">Start Date</label>
          <input
            id="txtStartDate"
            class="uk-input date"
            type="text"
            mwlFlatpickr
            (ngModelChange)="refresh.next()"
            [altInput]="true"
            [convertModelValue]="true"
            [enableTime]="true"
            dateFormat="Y-m-dTH:i"
            altFormat="F j, Y H:i"
            placeholder="Start Date"
            data-uk-datepicker
            [formControl]="eventStartDate"
          />
        </div>

        <div class="uk-margin">
          <label for="txtEndDate" class="uk-text">End Date</label>
          <input
            id="txtEndDate"
            class="uk-input date"
            type="text"
            mwlFlatpickr
            (ngModelChange)="refresh.next()"
            [altInput]="true"
            [convertModelValue]="true"
            [enableTime]="true"
            dateFormat="Y-m-dTH:i"
            altFormat="F j, Y H:i"
            placeholder="End Date"
            data-uk-datepicker
            [formControl]="eventEndDate"
          />
        </div>

        <div class="uk-margin add-new">
          <button class="uk-button uk-button-primary" (click)="addNewEvent()">
            Add
          </button>
        </div>
      </fieldset>
    </form>
  </div>
</div>

<!-- Table -->
<div class="table-responsive">
  <table class="uk-table uk-table-hover">
    <thead>
      <tr>
        <th>Title</th>
        <th>Primary color</th>
        <th>Status</th>
        <th>Starts at</th>
        <th>Ends at</th>
        <th>Remove</th>
      </tr>
    </thead>

    <tbody>
      <tr *ngFor="let event of events">
        <td>
          <input
            type="text"
            class="uk-input"
            [(ngModel)]="event.title"
            (keyup)="refresh.next()"
            value="{{ event.title }}"
          />
        </td>
        <td>
          <input
            type="color"
            [(ngModel)]="event.color.primary"
            (change)="refresh.next()"
          />
        </td>
        <td>
          {{ calculateDateDifference(event.start, event.end) }}
        </td>
        <td>
          <div class="input-group date">
            <input
              class="uk-input date"
              type="text"
              mwlFlatpickr
              [(ngModel)]="event.start"
              (ngModelChange)="refresh.next()"
              [altInput]="true"
              [convertModelValue]="true"
              [enableTime]="true"
              dateFormat="Y-m-dTH:i"
              altFormat="F j, Y H:i"
              placeholder="Not set"
              data-uk-datepicker
            />
            <span class="input-group-addon">
              <span class="glyphicon glyphicon-calendar"></span>
            </span>
          </div>
        </td>
        <td>
          <input
            class="uk-input"
            type="text"
            mwlFlatpickr
            [(ngModel)]="event.end"
            (ngModelChange)="refresh.next()"
            [altInput]="true"
            [convertModelValue]="true"
            [enableTime]="true"
            dateFormat="Y-m-dTH:i"
            altFormat="F j, Y H:i"
            placeholder="Not set"
            data-uk-datepicker
          />
        </td>
        <td>
          <button
            class="uk-button uk-button-danger"
            (click)="deleteEvent(event)"
          >
            Delete
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
